.DS_Store
*-debug.log
*-error.log
/.idea/git_toolbox_blame.xml
/.idea/vcs.xml
/vendor
/node_modules
/javascript/node_modules
javascript/dist/tsconfig.tsbuildinfo
php-sync-on-save-env.php
js-sync-on-save-env.php
